<div class="row boards">
    <div class="col s12">
        <div class="section">
        <h5 class="teal-text">Personal Boards</h5>
        </div>
    <div class="divider teal"></div>
    <div class="col s12 m6 l3" ng-repeat="board in vm.boards">
        <div class="card small hoverable red lighten-1">
            <div class="card-content white-text">
                <span class="card-title">{{board.name}}</span>
                <p class="card-details">{{board.createdAt *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <span class="new badge" data-badge-caption="cards">{{board.cards.length}}</span>
            </div>
            <div class="card-action lighten-1">
                <a href="javascript:;"
                   ui-sref="app.admin.board({id: board.id, board: board})"
                   class="white-text"><i class="material-icons left small">web</i>
                </a>
                <a href="javascript:;" class="white-text" ng-click="vm.deleteBoard(board)"><i class="material-icons right small">delete</i></a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card teal hoverable lighten-2">
            <div class="card-content teal-text">
                <p class="center"><a href="#"><i class="material-icons medium white-text">create_new_folder</i></a></p>
            </div>
        </div>
    </div>
</div>