<div class="row project">
    <div class="col s12">
        <div class="section">
            <h4 class="teal-text">Angular 1.5 Project Board <a href="#" class="teal-text"><i class="material-icons right small teal-text">create</i></a></h4>
        </div>
    <div class="divider teal"></div>
    <div class="col s12 scrollable-x">
        <div class="col s12 m6 l3 column">
            <h5 class="teal-text">To-do Tasks <a href="#" class="teal-text"><i class="material-icons right small teal-text">create</i></a></h5>

            <div class="divider teal"></div>

            <div class="column-wrapper">

                <div class="card hoverable blue lighten-1" ng-repeat="card in vm.board.cards">
                    <div class="card-action above">
                        <a href="#" class="teal-text"><i class="material-icons left small white-text">bookmark_border</i></a>
                        <a href="#" class="teal-text"><i class="material-icons right small white-text">clear</i></a>
                    </div>
                    <div class="card-content white-text">
                        <p>{{card.name}}</p>
                        <p>{{card.text_content}}</p>
                    </div>
                </div>

            </div>
            <div class="card-panel hoverable teal center lighten-1">
                <a href="javascript:;" ng-click="vm.createCard()" class="teal-text"><i class="material-icons small white-text">add_circle</i></a>
            </div>
        </div>

        </div>
    </div>
</div>

<div id="card" class="modal teal lighten-5">
    <div class="modal-content orange lighten-1">
      <h4 class="white-text">Card title</h4>
      <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod pariatur quis vero.</b></p>
    </div>
    <div class="modal-content">
      <div class="divider orange lighten-1"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae tempora sit ab illo, sequi facere odio, numquam inventore eius, modi non soluta obcaecati officia corporis. Adipisci, sint, incidunt? In!</p>
    </div>
</div>